@media (min-width: 1025px) {
    .projects{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
 }

 .box{
    height: 90px;
    width: 12%;
    font-size: 11px;
    background-color: rgb(7, 59, 87);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-top: 50%;
    margin-left: 2%;
    opacity: 70%;
   
   
}

.box:hover {
    background: #ffd700;

    color: black;
    border: 0px solid #d4520d;
    
}

.box-content{
    margin-top: 0px;
    margin-left: 1rem;
    // margin-right: 1rem;
}
.box-content p{
    color: #014c5a;
    margin-top: 0%;
}
}

@media  (min-width: 767px) and (max-width: 1025px)  {
    .projects{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;

   }
    .box{
    height: 90px;
    width: 12%;
    font-size: 10px;
    background-color: rgb(7, 59, 87);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-top: 65%;
    margin-left: 2%;
    opacity: 70%;
    
   
}

.box:hover {
    background: #ffd700;

    color: black;
    border: 0px solid #d4520d;
    
}

.box-content{
    margin-top: 0px;
    margin-left: 1rem;
    // margin-right: 1rem;
}
.box-content p{
    color: #014c5a;
    margin-top: 0%;
}
}


@media   (max-width: 767px) {
   .projects{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;

   }
    .box{
    height: 80px;
    width: 20%;
    font-size: 7px;
    background-color: rgb(7, 59, 87);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-top: 90%;
    margin-left: 2%;
     opacity: 70%;
    
   
}

.box:hover {
    background: #ffd700;

    color: black;
    border: 0px solid #d4520d;
    
}

.box-content{
    margin-top: 0px;
    margin-left: 1rem;
    // margin-right: 1rem;
}
.box-content p{
    color: #014c5a;
    margin-top: 0%;
}
}



