@media (min-width: 1025px) {
.box{
    height: 90px;
    width: 7%;
    font-size: 11px;
    background-color: rgb(7, 59, 87);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    display: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-left: 50%;
   bottom: 30%;
   
}

.box:hover {
    background: #ffd700;

    color: black;
    border: 0px solid #d4520d;
    
}

.box-content{
    margin-top: 0px;
    margin-left: 1rem;
    // margin-right: 1rem;
}
.box-content p{
    color: #014c5a;
    margin-top: 0%;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
.box{
    height: 90px;
    width: 20%;
    font-size: 9px;
    background-color: rgb(7, 59, 87);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    display: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-left: 50%;
   bottom: 30%;
   
}

.box:hover {
    background: #ffd700;

    color: black;
    border: 0px solid #d4520d;
    
}

.box-content{
    margin-top: 0px;
    margin-left: 1rem;
    // margin-right: 1rem;
}
.box-content p{
    color: #014c5a;
    margin-top: 0%;
}
}


@media (min-width: 320px) and (max-width: 767px) {
.box{
    height: 80px;
    width: 20%;
    font-size: 7px;
    background-color: rgb(7, 59, 87);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    display: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-left: 50%;
   bottom: 30%;
   
}

.box:hover {
    background: #ffd700;

    color: black;
    border: 0px solid #d4520d;
    
}

.box-content{
    margin-top: 0px;
    margin-left: 1rem;
    // margin-right: 1rem;
}
.box-content p{
    color: #014c5a;
    margin-top: 0%;
}
}



